apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-backend
spec:
  # Теперь можно ставить больше 1, так как Object Storage это позволяет!
  replicas: {{ .Values.backend.replicaCount }}
  selector:
    matchLabels:
      app: helpdesk-backend
  template:
    metadata:
      labels:
        app: helpdesk-backend
    spec:
      containers:
        - name: backend
          image: "{{ .Values.backend.repository }}:{{ .Values.backend.tag }}"
          ports:
            - containerPort: {{ .Values.backend.containerPort }}
          env:
            - name: DATABASE_URL
              value: "postgresql://postgres:mypassword@{{ .Release.Name }}-db-svc:5432/helpdesk"
            
            # Берем данные из твоего секрета helpdesk-oci-secrets
            - name: OCI_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: helpdesk-oci-secrets
                  key: access_key
            - name: OCI_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: helpdesk-oci-secrets
                  key: secret_key
            - name: OCI_NAMESPACE
              valueFrom:
                secretKeyRef:
                  name: helpdesk-oci-secrets
                  key: namespace
            - name: OCI_BUCKET_NAME
              valueFrom:
                secretKeyRef:
                  name: helpdesk-oci-secrets
                  key: bucket_name
            - name: OCI_REGION
              valueFrom:
                secretKeyRef:
                  name: helpdesk-oci-secrets
                  key: region