name: CI/CD Helpdesk

on:
  push:
    branches:
      - main
    paths:
      - "frontend-app/**"
      - "backend-app/**"
      - ".github/workflows/**"

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Сборка Backend (FastAPI)
      - name: Build and push Backend
        uses: docker/build-push-action@v4
        with:
          context: ./backend-app
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/helpdesk-backend:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/helpdesk-backend:${{ github.sha }}

      # Сборка Frontend (Flask)
      - name: Build and push Frontend
        uses: docker/build-push-action@v4
        with:
          context: ./frontend-app
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/helpdesk-frontend:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/helpdesk-frontend:${{ github.sha }}
